html,body { margin: 0px; padding:0;height: 100%;}
body { font-size:12px; line-height: 20px; color:#4a4a4a;}
div,input,button,select,textarea,dl,dt,dd,h1,h2,h3,h4,h5,p,form,i,b,span,table,td,th,ol,ul,li{ margin:0; padding:0; outline:none;color:#333; font-family:'微软雅黑', Arial, Helvetica, sans-serif;}
b,i{ font-style:normal; font-weight:normal}
ul,ol,li { list-style: none;}
img { border: none;}
input,img { vertical-align: middle;}
.blank{height:65px;}
table{border:0;padding:0;margin:0;border-collapse:collapse;border-spacing:0;}
a,a:hover { text-decoration:none;border:none; outline:none;color:#333}